body		{ font-family: 'NanumSquare', monospace }
.bold		{ font-weight: 700 }
.bolder		{ font-weight: 800 }
.light		{ font-weight: 300 }


#navbarExample01{
    padding-bottom: 0px;
}

#introduce{
    font-size: 1.3em;
    margin-top: 15px;
    margin-left: 18px;
}

#first{
    font-size: 1.3em;
    margin-top: 15px;
    margin-left: 30px;
}

#logo{
    margin-left: 30px;
}

#chheck{
    font-family: 'NanumSquare', monospace;
}

}
#login{
    font-family: 'NanumSquare', monospace;
}

.dropdown-menu{
    opacity: 1;
    text-align: center;
    width: 15px;
}

#login-btn{
    margin-right: 10px;
    background: #F5E9DA;
    color: black;
}

#LoginDropdown {
    width: 300px !important;
    height: 335px !important;
    margin-top: 20px;
    padding-bottom: 30px;
}

#form1Example3{
    background: #F5E9DA;
}

#carouselExampleFade{
    margin-top: 150px;
    margin-left: 50px;
    width: 30%;
    height: 300px;
    float:left;

}

#carouselExampleFade1{
    margin-top: 150px;
    margin-left: 20px;
    margin-right: 20px;
    width: 30%;
    height: 300px;
    float:left;
}

#carouselExampleFade2{
    margin-top: 150px;
    margin-right: 20px;
    width: 30%;
    height: 300px;
    float:left;
}