body		{ font-family: 'NanumSquare', monospace }
.bold		{ font-weight: 700 }
.bolder		{ font-weight: 800 }
.light		{ font-weight: 300 }

#introduce{
    font-size: 1.3em;
    margin-top: 15px;
    padding-left: 18px;
}

#first{
    font-size: 1.3em;
    margin-top: 15px;
    padding-left: 30px;
}

#logo{
    padding-left: 30px;
}

#chheck{
    font-family: 'NanumSquare', monospace;
    
}

#login{
    font-family: 'NanumSquare', monospace;
}

.dropdown-menu{
    opacity: 1;
    text-align: center;
    width: 15px;
}

#three{
    color: black;
}

#login-btn{
    margin-right: 10px;
    background: #F5E9DA;
    color: black;
}

#login-btn1{
    background: #F5E9DA;
    color: black;
    margin-bottom: 10px;
    
}

#carouselExampleIndicators{
    padding: 0px;
}

#left-minibar{
    margin-left: 7%;
    width: 20px;
    margin-bottom: 5%;
    color:black;
}

#right-minibar{
    width: 20px;
    margin-bottom: 5%;
    margin-right: 8%;
    color: #000;
}

#sign-btn{
    width: fit-content;
    margin-right: 20px;
    color: black;
    border-color: #F5E9DA;
    background-color: #ff000000;
}

.card1{
    width: 15%;
    float:left;
    margin-left: 10%;
}

#certi{
    padding-left: 10%;
    margin-top: 500px;
    margin-bottom: 6%;
}

#noticeT{
    padding-left: 10%;
    margin-top: 5%;
    margin-bottom: 4%;
}

#noticeT1{
    margin-top: 5%;
    padding-left: 10%;
    margin-bottom: 4%;
}

#cstom-service{
    padding-left: 10%;
    margin-top: 5%;
    margin-bottom: 3%;
}

.card2{
    width: 15%;
    float:left;
    margin-left: 1%;
}

.card3{
    width: 15%;
    float:left;
    margin-left: 1%;
}

#cara-btn{
    color: black;
}

.card4{
    width: 15%;
    float:left;
    margin-left: 1%;
}
.card5{
    width: 15%;
    float:left;
    margin-left: 1%;
}

#menu{
    float:left;
}


.card-img{
    width: 10px;
    height: 200px;
}



#bond-carousel{
    height: 800px;
}

#main-carousel{
    opacity: 0.92;
    /*padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;*/
}



#LoginDropdown {
    width: 300px !important;
    height: 310px !important;
    margin-top: 20px;
    padding-bottom: 30px;
}



#carouselExampleFade{
    margin-top: 150px;
    margin-left: 50px;
    width: 30%;
    height: 300px;
    float:left;

}

#carouselExampleFade1{
    margin-top: 150px;
    margin-left: 20px;
    margin-right: 20px;
    width: 30%;
    height: 300px;
    float:left;
}

#carouselExampleFade2{
    margin-top: 150px;
    margin-right: 20px;
    width: 30%;
    height: 300px;
    float:left;
}



#mainbody-img{
    margin-left: 30px;
    margin-right: 30px;
    width: 50px;
    height: 50px;
}

#customservice-btn{
    margin-bottom: 5%;
    margin-top: 8%;
    margin-left: 40%;
    width: 20%;
    font-size : 15px;
}

#curriculum{
    width: 80%;
    margin-left: 12%;
}

.customservice-box{
    float: left;
    margin-bottom: 5%;
}

.customservice-box1{
    background-color: #F5E9DA;
    float: left;
}

#table-title{
    padding-right: 20%;
}

.td{
    padding-left: 20%;
}
#table-date{
    padding-left: 20%;
}

#curriculum-btn{
    margin-bottom: 5%;
    margin-top: 3%;
    margin-left: 40%;
    width: 20%;
    font-size : 15px;
}


#affiliated-logo1{
    float: left;
    padding-left: 20%;
}

#affiliated-logo2{
    float: left;
    padding-left: 1%;
}

#affiliated-logo3{
    float: left;
    padding-left: 1%;
}

#affiliated-logo4{
    float: left;
    padding-left: 1%;
}

#affiliated-logo5{
    float: left;
    padding-left: 1%;
}

#affiliated-logo6{
    float: left;
    padding-left: 1%;
}

#affiliated-site{
    overflow: hidden;
    margin-top: 2%;
    margin-bottom: 2%;
}

#big-row{
    width: 100%;
}

.text-logo{
    margin-top: 23px;
}