body		{ font-family: 'NanumSquare', monospace }
.bold		{ font-weight: 700 }
.bolder		{ font-weight: 800 }
.light		{ font-weight: 300 }


#navbarExample01{
    padding-bottom: 0px;
}

#introduce{
    font-size: 0.9em;
    margin-top: 8px;
    margin-left: 18px;
}

#yab{
    font-size: 0.9em;
    margin-top: 8px;
    margin-left: 30px;
}